version: '3'
services:
  server:
    image: stayradiated/zwolf-go:latest
    build: .
    restart: unless-stopped
    depends_on:
      - rabbitmq
    links:
      - rabbitmq
    volumes:
      - $GOPATH/pkg/mod:/go/pkg/mod

  rabbitmq:
    image: rabbitmq:3.8.9-alpine
    restart: unless-stopped
